<a href="https://colab.research.google.com/github/KrutiTaware/Data-Science-Pratical/blob/Master/PRACTICAL_NO_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Retrieve and Print Seaborn Dataset Names
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
#Load and Display Head of Titanic Dataset
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# Display Count of Null Values in Each Column of the DataFrame
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
#To fill null values in the age column
mean_age=df['age'].mean()
df['Age Mean']=df['age'].fillna(mean_age)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000

In [ ]:
#To fill null values in the age column
median_age=df['age'].median()
df['Age Median']=df['age'].fillna(median_age)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000,38.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000,26.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000,35.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000,27.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000,19.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118,28.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000,26.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000,32.0

In [ ]:
#To fill null values in the age column
mode_age=df['age'].mode()[0]
df['Age Mode']=df['age'].fillna(mode_age)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median,Age Mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000,38.0,38.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000,26.0,26.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000,35.0,35.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000,35.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000,27.0,27.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000,19.0,19.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118,28.0,24.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000,26.0,26.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000,32.0,32.0

In [ ]:
#To drop a column
df_dropped=df.drop('Age Mean', axis=1)
df_dropped.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Median,Age Mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,38.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0,26.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,35.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0,35.0

In [ ]:
df_dropped_multiple=df.drop(['Age Mode','parch'],axis=1)
df_dropped_multiple

,survived,pclass,sex,age,sibsp,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median
0,0,3,male,22.0,1,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000,22.0
1,1,1,female,38.0,1,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000,38.0
2,1,3,female,26.0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000,26.0
3,1,1,female,35.0,1,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000,35.0
4,0,3,male,35.0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000,27.0
887,1,1,female,19.0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000,19.0
888,0,3,female,NaN,1,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118,28.0
889,1,1,male,26.0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000,26.0
890,0,3,male,32.0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000,32.0

In [ ]:
#To drop records
df_dropped_multiple=df.drop([2,3],axis=0)
df_dropped_multiple

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median,Age Mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000,38.0,38.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000,35.0,35.0
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,29.699118,28.0,24.0
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,54.000000,54.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000,27.0,27.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000,19.0,19.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118,28.0,24.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000,26.0,26.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000,32.0,32.0

In [ ]:
#Rename a column
df_renamed=df.rename(columns={'sex':'gender'})
df_renamed.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median,Age Mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,38.0,38.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0,26.0,26.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,35.0,35.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0,35.0,35.0

In [ ]:
#Select column with specific datatypes
print("INT datatype")
int_data=df.select_dtypes('int')
int_data

INT datatype

     survived  pclass  sibsp  parch
0           0       3      1      0
1           1       1      1      0
2           1       3      0      0
3           1       1      1      0
4           0       3      0      0
..        ...     ...    ...    ...
886         0       2      0      0
887         1       1      0      0
888         0       3      1      2
889         1       1      0      0
890         0       3      0      0

[891 rows x 4 columns]

In [ ]:
print("STRING datatype")
str_data=df.select_dtypes('object')
str_data

STRING datatype

        sex embarked    who  embark_town alive
0      male        S    man  Southampton    no
1    female        C  woman    Cherbourg   yes
2    female        S  woman  Southampton   yes
3    female        S  woman  Southampton   yes
4      male        S    man  Southampton    no
..      ...      ...    ...          ...   ...
886    male        S    man  Southampton    no
887  female        S  woman  Southampton   yes
888  female        S  woman  Southampton    no
889    male        C    man    Cherbourg   yes
890    male        Q    man   Queenstown    no

[891 rows x 5 columns]

In [ ]:
print("FLOAT datatype")
flt_data=df.select_dtypes('float')
flt_data

FLOAT datatype

      age     fare   Age Mean  Age Median  Age Mode
0    22.0   7.2500  22.000000        22.0      22.0
1    38.0  71.2833  38.000000        38.0      38.0
2    26.0   7.9250  26.000000        26.0      26.0
3    35.0  53.1000  35.000000        35.0      35.0
4    35.0   8.0500  35.000000        35.0      35.0
..    ...      ...        ...         ...       ...
886  27.0  13.0000  27.000000        27.0      27.0
887  19.0  30.0000  19.000000        19.0      19.0
888   NaN  23.4500  29.699118        28.0      24.0
889  26.0  30.0000  26.000000        26.0      26.0
890  32.0   7.7500  32.000000        32.0      32.0

[891 rows x 5 columns]

In [ ]:
#Slicing the dataset
df.iloc[:3,0]

0    0
1    1
2    1
Name: survived, dtype: int64

In [ ]:
#Slicing the dataset
df.loc[:5,'alive']

0     no
1    yes
2    yes
3    yes
4     no
5     no
Name: alive, dtype: object

In [ ]:
#Handling duplicates
df.duplicated
df_duplicates=df.drop_duplicates()
#df_duplicates

In [ ]:
#Select specific values in the column
df[df['pclass']==1]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age Mean,Age Median,Age Mode
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,38.0,38.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,35.0,35.0
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,54.0,54.0,54.0
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,58.0,58.0,58.0
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True,28.0,28.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False,47.0,47.0,47.0
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True,33.0,33.0,33.0
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,56.0,56.0,56.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.0,19.0,19.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.0,26.0,26.0

In [ ]:
# Group DataFrame by 'sex' and Aggregate the Count of 'fare'
df.groupby('sex').agg({'fare':'count'})

        fare
sex
female   314
male     577

In [ ]:
# Group DataFrame by 'pclass' and 'sex' and Aggregate the Count of 'fare'
df.groupby(['pclass','sex']).agg({'fare':'count'})

               fare
pclass sex
1      female    94
       male     122
2      female    76
       male     108
3      female   144
       male     347

In [ ]:
#import pandas library
import pandas as pd
# Map 'survived' and 'not survived' based on the 'survived' column
df['survived'].map(lambda x:'survived' if x==1 else 'not survived')

0      not survived
1          survived
2          survived
3          survived
4      not survived
           ...
886    not survived
887        survived
888    not survived
889        survived
890    not survived
Name: survived, Length: 891, dtype: object

In [ ]:
#Replace 'male' with 'M' and 'female' with 'F' in the 'sex' column
df['sex'].replace(['male','female'],['M','F'])

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: sex, Length: 891, dtype: object

In [ ]:
#Save DataFrame to a CSV file without including the index
df.to_csv('/content/sample_data/data1.csv',index=False)